* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bbbaba;
  font-family: Arial, sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background: linear-gradient(90deg, #111827, #1f2937);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  z-index: 1000;
}

.navbar-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;
}

/* BOTÕES */
.btn-login,
.btn-register,
.btn-logout {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* Login */
.btn-login {
  background-color: #2563eb;
  color: white;
}

.btn-login:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

/* Register */
.btn-register {
  background-color: #10b981;
  color: white;
}

.btn-register:hover {
  background-color: #059669;
  transform: translateY(-2px);
}

/* Logout */
.btn-logout {
  background-color: #ef4444;
  color: white;
}

.btn-logout:hover {
  background-color: #dc2626;
  transform: translateY(-2px);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  
}



.create-button{
  background: #28a745;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

.create-button:hover{
  background: #218838;
}

.search-form {
  margin-bottom: 20px;
}

.search-form input {
  padding: 6px;
  margin-right: 10px;
}

.search-form input[type="submit"] {
  padding: 6px 12px;
  cursor: pointer;
}


.vehicles-table {
  width: 100%;
  border-collapse: collapse;
}

.vehicles-table th,
.vehicles-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.vehicles-table th {
  background-color: #f3f4f6;
}


.actions a {
  margin-right: 8px;
  text-decoration: none;
}

.actions a:hover {
  text-decoration: underline;
}


.pagination {
  margin-top: 20px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.primary-button {
  padding: 8px 14px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #15803d;
}


.back-link {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #2563eb;
}

.back-link:hover {
  text-decoration: underline;
}


.vehicle-info p {
  margin: 8px 0;
  font-size: 16px;
}